{% extends 'chat-box-base.html' %}
{% load staticfiles %}
{% block title %}
<title>Chat Box</title>
{% endblock %}
{% block content %}

<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <span class="icon-circle" style="background-color: {{request.user.color_code}};"></span>
        <p> <b>{{request.user.username | title}}</b></p>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..." class="search-contact" />
    </div>
    <div id="contacts">
      <ul>
      {% for user in list_user %}
        <li class="contact">
          <div class="wrap" contact-id="{{user.id}}">
            <span class="contact-status online"></span>
            {% if user.color_code %}
            <div class="icon-circle" style="background-color: {{user.color_code}};"></div>
            {% else %}
              <div class="icon-circle" style="background-color: #123;"></div>
            {% endif %}
            <div class="meta">
              <p class="name">{{user.username | title }}</p>
              <p class="preview">{{user.get_lastmessage}}</p>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
        <p> <b>{{request.user.username | title}}</b></p>
        <span class="icon-circle" style="background-color: {{request.user.color_code}};"></span>
        <div class="social-media"><a href="{% url 'logout' %}">
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="messages">
      <ul>
        <li class="text-center">
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">Start Conversation</h5>
            <p class="card-text">Select Any user and start chat.</p>
          </div>
        </div>
        </li>
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
      <input type="text" placeholder="Write your message..." id="message_box" name="message" readonly="" />
      <input type="hidden" name="sender" id="sender_id" value="{{request.user.id}}">
      <input type="hidden" name="receiver" id="receiver_id">
      <input type="hidden" name="receiver" id="receiver_id">
      <button class="button" id="send_message"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  
{% endblock %}
