	
<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
					<div class="quick-footer">
						<h4>365 Mover</h4>
						<ul>
							<li><a href="">My Account</a></li>
							<li><a href="">Services</a></li>
							<li><a href="">Cities</a></li>
							<li><a href="">Get an estimate</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
					<div class="quick-footer">
						<h4>Mover</h4>
						<ul>
							<li><a href="">Become a Mover</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
					<div class="quick-footer">
						<h4>Questions?</h4>
						<ul>
							<li><a href="">Frequently asked questions</a></li>
							<li><a href="">Contact us</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
					<div class="quick-footer">
						<h4>About</h4>
						<ul>
							<li><a href="">Blog</a></li>
							<li><a href="">Careers</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-copy-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
						<div class="social">
							<ul>
								<li><a href="" class="fb"><i class="zmdi zmdi-facebook"></i></a></li>
								<li><a href="" class="twitter"><i class="zmdi zmdi-twitter"></i></a></li>
								<li><a href="" class="insta"><i class="zmdi zmdi-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
						<div class="footer-copyright">
							<span>365 mover</span> © 2017 All Rights Reserved
						</div>
					</div>
					
					<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
						<div class="copy-links">
							<ul>
								<li><a href="">Privacy Policy</a></li>						
								<li><a href="">Terms of Service</a></li>						
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>	
	