{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>Login & Signup</title>
{% endblock %}
{% block content %}

<main>
	<section class="login-sec">
		<div class="login-container">
			<div class="box"></div>
			<div class="container-forms">
				<div class="container-info">
					<div class="info-item login-info">
						<div class="login-table">
							<div class="login-table-cell">
								<p>
									Have an account?
								</p>
								<div class="btn">
									Log in
								</div>
							</div>
						</div>
					</div>
					<div class="info-item">
						<div class="login-table">
							<div class="login-table-cell">
								<p>
									Don't have an account? 
								</p>
								<div class="btn">
									Sign up
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-form">
					<div class="form-item log-in">
						<form method="post" action="" id="login_form">
              				{% csrf_token %}

						<div class="login-table">
							<div class="login-table-cell">
							<h5>SIGN IN</h5>
								<div class="form-group">
									<label>User Name</label>
									{{login_form.username}}
								</div>           
								<div class="form-group">
									<label>Password</label>
									{{login_form.password}}
								</div>            
								<div class="btn" id="login_submit">
									Log in 
								</div>

								<div class="col-md-12 login_error"></div>
							</div>
						</div>
						</form>
					</div>
					<div class="form-item sign-up">
						<div class="login-table">
							<form method="post" action="" id="signup_form">
              				{% csrf_token %}
							<div class="login-table-cell">
								<h5>SIGN up</h5>
								<div class="form-group">
									<label>User Name</label>
									{{registration_form.username}}
								</div>           
								<div class="form-group">
									<label>Color Code</label>
									{{registration_form.color_code}}
								</div>
								<div class="form-group">
									<label>Mobile Number</label>
									{{registration_form.mobile}}
								</div>   
								<div class="form-group">
									<label>Date Of Birth</label>
									{{registration_form.date_of_birth}}
								</div>           
								<div class="form-group">
									<label>Password</label>
									{{registration_form.password}}
								</div> 
								<div class="form-group">
									<label>Password Confirm</label>
									{{registration_form.confirm_password}}
								</div>   
								<div class="btn" id="signup_submit">
									Sign up
								</div>
								<div class="col-md-12 signup_error"></div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>



	</section>

</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$("#signup_submit").click(function(){
		$.post("{% url 'registration'%}", $("#signup_form").serialize(), function(data, status){
			$(".signup_error").empty()
			
			if(data.code == 200){
				$(".signup_error").append("<span class='label label-success text-center'>"+data.message+"</span>")
				window.location.replace("{% url 'conversation' %}");
			}
			else{
				$(".signup_error").append("<span class='label label-danger text-center'>"+data.message+"</span>")
			}
		})
	})

	$("#login_submit").click(function(){
		$.post("{% url 'login'%}", $("#login_form").serialize(), function(data, status){
			$(".login_error").empty()
			if(data.code == 200){
				$(".login_error").append("<span class='label label-success text-center'>"+data.message+"</span>")
				window.location.replace("{% url 'conversation' %}");
			}
			else{
				$(".login_error").append("<span class='label label-danger text-center'>"+data.message+"</span>")
			}
		})
	})
</script>

{% endblock %}